p {
    color: blue;
}

body {
    background-color: #0086af;
    margin-left: 20px;
}

h1, h2, h3, h4, li {
    color: rgb(233, 233, 233);
}

h1, h2, h3, h4 {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
}

h3, h4 {
    font-size: 15pt;
}

ul, ol {
    margin-bottom: 40px;
}

.nav-link{
    color: white;
}

.description {
    width: 600px;
    margin-top: 20px;
}

.top {
    margin-top: 20px;
}


.left {
    width: 600px;
    margin-right: 30px;
    float: left;
}

.top, .left {
    margin-left: 20px;
}

.right {
    margin-left: 30px;
    width: 600px;
    float: left;
    margin-left: 30px;
}

a {
    color: purple;
    margin: 5px;
    padding: 5px;
}

.recipeLinks {
    display: flex;
    margin: 10x;
    padding: 10px;
}

ul {
    list-style-type: none;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.checked {
    text-decoration: line-through;
}

.otherRecipes {
    padding: 10px;
    margin: 15px 10px 5px 10px;
}

/*@media only screen and (max-width: 600px) {
    .left, .right {
        width: 80%;
    }
    .left, .right {
        display: inline-block;
    }
    #recipeImg, .description {
        width: 70%;
    }
}*/

@media only screen and (max-width: 600px) {
    .hide-on-small {
        display: none;
    }
}

@media only screen and (min-width: 601px) {
    .hide-on-large {
        display: none;
    }
}

/*Styling for tabs and their content on smaller screens*/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}


.tab button:hover {
  background-color: #ddd;
}


.tab button.active {
  background-color: #ccc;
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/*End of styling for tabs and their content on smaller screens*/