html, body {
    padding: 0;
    margin: 0;    
    background: rgb(51,43,55);
    background: radial-gradient(circle, rgba(51,43,55,1) 0%, rgba(51,43,55,1) 100%);
}

main {
    /*display:flex;
    flex-direction: row;
    align-items: center;*/
    margin-top: .5rem;
} 

@media(min-width:550px){
   main {
        flex-direction: row;
        margin:6vh 5vw;
        justify-content: center;
        width:86vw;
        gap: 2rem;
    } 
}

#gameContainer {
    /*height:75rem;*/
    /*display: inline-block;*/
    margin-top: .5rem;
    margin: auto;
    /*width:330vw;
    max-width: 5300px;*/
    padding: 1vh 1vw;
    font-size: 1.6rem;
    color: white;
    border-radius: 14px;
    position: relative;
    background: #231d24;
    text-align: center;
    overflow: hidden;
    border: 0.2rem solid #000721;
    box-shadow: inset 0px 0px 6px 2px rgba(100,100,100,0.2),
                0px 0px 10px rgba(117,182,214,0.2);
    display: block;
}

@media(min-width:550px){
    #gameContainer {
        border: 0.2rem solid #000721;
        height:26rem;
        width:37vw;
    }
}

#diceGrid {
    justify-content: center;
  background-color: white;
  padding: 10px;
  margin: 20px;
  width: 90%;
  display: inline-block;

}

#dice {
    /*width:100%;
    height:70%;
    position: absolute;
    bottom:0;
    left:0px;
    right:0;
    background: #000721;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
     grid-template-rows: auto auto auto auto;
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;*/
     justify-content: center;
    display: grid;
  grid-template-columns: 12vh 12vh 12vh 12vh;
  grid-template-rows: 12vh 12vh 12vh 12vh;
  background-color: dodgerblue;
  padding: 10px;
  margin: 20px;
  width: 90%;
  height: auto;
}

@media(min-width:550px){
    #diceGrid {
        height: 30%;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

.dice{
    height:5.5vh;
    width:5.5vh;
    padding: 8px;
    background: #fff;   
    border-radius: 5px;
    border:1px solid #666;
    color:#000721;
    text-align: center;
    line-height: 6vh;
}

@media(min-width:550px){
#diceGrid.dice{
    height:10vh;
    width:10vh;
    line-height: 10.5vh;
}
}

#wordInfo, #playerScore {
    margin: 10px;
    padding: 5px;
    width: 90%;

    /*position: absolute;
    bottom:0;
    left:0px;
    right:0;
    background: #000721;*/
}