html, body {
    padding: 0;
    margin: 0;    
    background: rgb(51,43,55);
    background: radial-gradient(circle, rgba(51,43,55,1) 0%, rgba(51,43,55,1) 100%);
}

main {
    /*display:flex;
    flex-direction: row;
    align-items: center;*/
    margin-top: .5rem;
} 

@media(min-width:550px){
   main {
        flex-direction: row;
        margin:6vh 5vw;
        justify-content: center;
        width:86vw;
        gap: 2rem;
    } 
}

#gameContainer {
    /*height:75rem;*/
    /*display: inline-block;*/
    margin-top: .5rem;
    margin: auto;
    /*width:330vw;
    max-width: 5300px;*/
    padding: 1vh 1vw;
    font-size: 1.6rem;
    color: white;
    border-radius: 14px;
    position: relative;
    background: #231d24;
    text-align: center;
    overflow: hidden;
    border: 0.2rem solid #000721;
    box-shadow: inset 0px 0px 6px 2px rgba(100,100,100,0.2),
                0px 0px 10px rgba(117,182,214,0.2);
    display: block;
}

@media(min-width:550px){
    #gameContainer {
        border: 0.2rem solid #000721;
        height:26rem;
        width:37vw;
    }
}