/*
At least 3 style properties applied to text
Border
Use of columns
Use of at least 1 ID
Use of at least 3 web design patterns
Override a CSS rule in your code in an obvious way at least once
Change display property of at least 1 element
Additional Requirements
Have at least 1 style change for narrow, medium, and wide browser views
*/