/*
 Link your styles.css file to index.html.

 Style your text using at least 3 different properties.

 Add and style a profile photo of yourself. Include a border.

 Have some info in a second column

 Use one "id" correctly.

 Select 3 web design patterns to implement

 Use your search bar at least once to jump to an element or style.

 Have 2 CSS blocks that include the class "override" with one
 overriding the other rule in an obvious way.

 Change the display property of at least one element.


Media Queries, UI, UX

 Have at least one style change each for a narrow, medium, and wide browser window.

 Use developer tools at least once to inspect your styles and check window width.

 Make sure the User Interface of your site is appealing 
 at all widths while keeping it simple.
 
 Ask a peer to test your site and tell you about 
 their experience. Change one thing that would provide better UX.
*/
:root {
  --c-dg: #2C2C2C;
  --c-lb: #04CEE0;
  --c-mb: #1AC1DD;
  --c-pb: #017494;
  --c-pr: #7917F8;
  --c-hp: #FF0077;
  --c-lg: #09BB00;
}


body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: var(--c-dg);
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 50px;
}

#navbarNav {
  display: flex;
  justify-content: space-evenly;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px;
}

#intro {
  margin-top: 20px;
  padding: 20px;
  width: 400px;
  margin: auto;
}

#myImg {
  padding: 15px;
  margin-left: 20%;
  clip-path: circle(50%);
}

#fullName, #description {
  text-align: center;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timeline ul {
  background: var(--c-dg);
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 3px;
  margin: 0 auto;
  padding-top: 50px;
  background: #5B627A;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #14B2B5;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #14B2B5 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #14B2B5;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #14B2B5;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div  {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #14B2B5 transparent transparent;
  }
}